jupyter/.ipynb_checkpoints/data_join-checkpoint.ipynb
jupyter/.ipynb_checkpoints/NLP_tasks-checkpoint.ipynb
jupyter/.ipynb_checkpoints/data_join-checkpoint.ipynb
jupyter/.ipynb_checkpoints/data_join-checkpoint.ipynb
*.wav
*.DS_Store
data/audios/iemocap/Session5/sentences/wav/._Ses05M_script03_1
/data/aud_em/
/data/text/
.idea/
jupyter/models/.ipynb_checkpoints/
/jupyter/models/GloVe/glove.6B.zip
/jupyter/models/GloVe/glove.6B/glove.6B.50d.txt
/jupyter/models/GloVe/glove.6B/glove.6B.100d.txt
/jupyter/models/GloVe/glove.6B/glove.6B.200d.txt
/jupyter/models/GloVe/glove.6B/glove.6B.300d.txt